body {
    margin: 0;
    scroll-behavior: smooth;
}

* {
    font-weight: 500;
    box-sizing: border-box;
}

p {
    font-size: large;
}

q {
    font-size: large;
}

/* main page navbar */
.main-container {
    background-color: transparent;
    width: 100%;
    position: relative;
}

.logo {
    height: 70px;
    margin: 0.3rem
}

.nav-container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 100%;
}

.Nav-items {
    gap: 0.7rem;
    display: flex;
    list-style-type: none;
    margin-top: 1.7rem;

}

.open {
    align-items: right;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}

.nav-item {
    padding-bottom: .2rem;
    cursor: pointer;
    font-weight: 700;
    width: fit-content;

    &:hover {
        color: rgb(51, 51, 230);
        border-bottom: 2.5px solid rgb(57, 57, 214);
        border-radius: 10px;
    }
}

.hambargher-container {
    display: none;
    flex-direction: column;
    height: 2rem;
    justify-content: space-between;
    position: absolute;
    right: .5rem;
    top: 1rem;
    width: 2.25rem;
}

.hambargher {
    background-color: #000;
    border-radius: .2rem;
    height: .28rem;
    width: 100%;
}

.home-body-container {
    padding-top: 100px;
    background-color: rgb(75, 75, 217);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-para {
    color: white;
    font-weight: 700;
    background-color: rgba(240, 255, 255, 0.477);
    border-radius: 15px;
}

.news-span {
    background-color: rgb(51, 51, 230);
    border-radius: 19px;
    padding: .2rem 1rem;
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 38px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

.home-para {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.button {
    background-color: rgba(23, 23, 178, 0.726);
    font-size: 15px;
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: .3rem 1rem;
}

.home-image {
    height: 200px;
    width: 800px;
}

image {
    width: 100%;
}

/* about */

.heading-main {
    color: rgb(65, 65, 196);
    text-align: center;
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.about-con1,
.about-con2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.q-con {
    margin-top: 1.5rem;
    width: 280px;
    font-size: large;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-img {
    height: 250px;
}

/*butwhy*/

.butwhy-container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.butwhy-con1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.butwhy-con2 {
    display: flex;
    width: 100%;
}

.butwhy-img {
    height: 240px;
    transform: rotate(-14deg);
}

.butwhyimg-con {
    background-color: rgba(255, 255, 255, 0.79);
    height: 240px;
    transform: rotate(13deg);
    border-radius: 1rem;
}

.sub {
    height: fit-content;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-end {
    height: fit-content;
    width: 250px;
    align-self: self-end;
}

.digit {
    background-color: blue;
    width: fit-content;
    padding: .3rem .5rem;
    border-radius: 1rem;
}

.butwhy-con2sub {
    align-self: center;
}

/*our buds*/

.ourbuds-bg-container {
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.ourbuds-container {
    display: flex;
    justify-content: space-around;
}

.ourbuds-con1 {
    align-self: center;
    gap: 2rem;
}

.ourbuds-con2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ourbuds-p1 {
    width: 300px;
}

.our-para {
    font-size: x-large;
}

.ourbuds-p2 {
    width: 300px;
}

.img1 {
    height: 150px;
    width: 150px;
    transition: transform 1s;

    &:hover {
        transform: rotate(10deg);
    }
}

.img1-con {
    background-color: rgba(232, 238, 238, 0.457);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    transition: transform 1s;

    &:hover {
        transform: rotate(-5deg);
    }
}

.img2 {
    height: 220px;
    width: 150px;
    transition: transform 1s;

    &:hover {
        transform: rotate(10deg);
    }
}

.img2-con {
    background-color: rgba(232, 238, 238, 0.457);
    border-radius: 15px;
    height: 220px;
    width: 150px;
    transition: transform 1s;

    &:hover {
        transform: rotate(-5deg);
    }
}

.img3 {
    height: 210px;
    width: 150px;
    transition: transform 1s;

    &:hover {
        transform: rotate(10deg);
    }
}

.img3-con {
    background-color: rgba(232, 238, 238, 0.457);
    border-radius: 15px;
    height: 210px;
    width: 150px;
    transition: transform 1s;

    &:hover {
        transform: rotate(-5deg);
    }
}

.img4 {
    height: 150px;
    width: 150px;
    transition: transform 1s;

    &:hover {
        transform: rotate(10deg);
    }
}

.img4-con {
    background-color: rgba(232, 238, 238, 0.457);
    border-radius: 15px;
    height: 150px;
    width: 150px;
    transition: transform 1s ease-in-out;

    &:hover {
        transform: rotate(-5deg);
    }
}

.img5 {
    height: 150px;
    width: 330px;
    border-radius: 30px;
}

/* package */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.d-image {
    padding: 1rem 5rem;
    height: 90dvh;
}

/* safety */

.safety-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.safety-con1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.safety-con2 {
    width: 350px;
}

.whyus-heading {
    font-size: x-large;
    font-weight: 700;
    border-bottom: 2px solid rgb(54, 54, 176);
    width: fit-content;
}

.whyus-para {
    font-weight: 700;
    width: 250px;
}

.whyus-span {
    font-weight: 700;
    color: rgb(76, 76, 238);
}

.whyus-button {
    background-color: transparent;
    border: 2px solid rgb(65, 65, 223);
    padding: .1rem 1.3rem;
    border-radius: 1rem;
}

/* testimonials */

.slick-slide>div {
    margin: 0 15px;
}

.title {
    background-color: #000;
    border-radius: 50px;
    left: 50%;
    transform: translateY(-40%);
    color: #fff;
}

.title-con {
    border: 2px solid rgb(47, 41, 159);
    border-radius: 15px;
    height: fit-content;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img {
    height: 200px;
    width: 100%;
    padding: 1rem .5rem;
}

/* forms */

.form-container {
    background-color: grey;
}

.contact-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.input1[type="text"],
.input2[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

.b {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.b:hover {
    background-color: #0056b3;
}

/* contactUs */

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #71aef0;
}

.contact-con1,
.contact-con2,
.contact-con3 {
    align-self: center;
}

.list-items {
    list-style-type: none;
}

.list-items>li {
    font-weight: 700;
}

.contact-para {
    width: 500px;
}

.contact-input {
    width: 300px;
    padding: .5rem;
    border: 2px solid black;
    margin: .5rem;
}

.contact-button {
    background-color: transparent;
    padding: .5rem;
    border: 2px solid black;
}

.facebook {
    color: #316FF6;
}

.instagram {
    color: #D92E7F;
}

.linkdin {
    color: #0A66C2;
}

.youtube {
    color: #FF0000;
}

#aboutUs,
#butWhy,
#contactUs,
#ourBuds,
#packagePricing,
#touchIn,
#safetyPrivacy,
#testimonials {
    margin-top: 100px;
    padding-bottom: 2rem;
}


@media (max-width:998px) {

    /* navbar */


    .logo {
        margin: 0.5rem;
        height: 50px;
    }

    .nav-container {
        flex-direction: column;
    }

    .hambargher-container {
        display: flex;
    }

    .Nav-items {
        display: none;
        text-align: right;
        flex-direction: column;
    }

    .nav-item {
        margin-top: .4rem;
        text-align: left;
    }

    .home-image {
        height: 200px;
        width: 350px;
    }

    .news-para {
        font-size: small;
    }

    .heading {
        font-size: x-large;
    }

    .home-para {
        font-size: 14px;
    }

    .about-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .q-con {
        width: 100%;
        padding: 1rem .5rem;
    }

    .about-img {
        height: 240px;
        width: 100%;
    }

    .butwhy-con1 {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .butwhy-con2 {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .title-con {
        height: fit-content;
        width: 100%;
    }

    .sub-end {
        align-self: center;
    }

    .ourbuds-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .ourbuds-p1 {
        width: 100%;
        padding: .4rem 1rem;
    }

    .our-para {
        font-size: large;
    }

    .ourbuds-p2 {
        width: 100%;
        padding: .4rem 1rem;
    }

    .user-img {
        height: 150px;
        width: 200px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }

    .contact-con1,
    .contact-con2,
    .contact-con3 {
        align-self: flex-start;
    }

    .contact-para {
        width: 100%;
    }
}

@media (max-width:768px) {
    .safety-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

}

@media (max-width:576px) {
    .heading {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fff;
        font-size: 22px;
        word-spacing: 2px;
        letter-spacing: 1px;
    }
}